@tailwind base;
@tailwind components;
@tailwind utilities;
html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}
.bg-gradient-blue{
  background: conic-gradient(from 90.56deg at 51.42% 62.5%, #1B1B7C 0deg, #245FB1 98.17deg, #481CAE 275.62deg, #1616B6 343.12deg, #1B1B7C 360deg);
}
.bg-gradient-disabled{
  background: conic-gradient(from 90.56deg at 51.42% 62.5%, #6f6f76 0deg, #646f7e 98.17deg, #655c7a 275.62deg, #7676a7 343.12deg, #69698e 360deg);
}
/** progress bar **/
progress {
  -webkit-appearance: none;
}
::-webkit-progress-bar {
  background-color: #EAE4FC;
  border-radius: 9999px;
  height: 8px;
}
::-webkit-progress-value {
  background-color: #8966F0;
  border-radius: 9999px;
}
